  :root {
    /*Put variables here*/
    
  }
  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
  }
  body {
    background:lightgray;
  }
  header {
    padding:2rem;
  text-align:center;
  }
  nav {
    background:black;
    color:white;
  }
  nav ul {
    list-style-type:none;
  }
  nav li {
    display:inline-block;
  }
  nav li a {
    display:inline-block;
    color:white;
    text-decoration:none;
    padding:2vh 4vh;
    border-right:1px solid rgba(211, 211, 211, .4);
    transition:background-color .5s ease-in;
  }
  nav li a:hover {
    text-decoration:underline;
    background-color:rgba(211, 211, 211, .4);
  }
  footer {
    background:black;
    color:white;
    padding:3rem;
    min-height:10vh;
  }
  .container {
  background:burlywood;
  padding:1rem;
  min-height:60vh;
  width:80%;
  margin:auto;
  }
  .section-header {
    padding:1.25rem;
    font-size:1.75rem;
    border-bottom:1px lightgray solid;
  }
  .section-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:stretch;
  padding:1.25rem;
  }
  .section-item {
    flex:0 0 30%;
    border:1px lightgray solid;
    border-radius:12px;
    text-align:center;
    background:white;
    box-shadow:10px 5px 5px 0px rgba(0,0,0,0.25);
  }
  .section-item:hover {
    border:3px yellow solid;
    box-shadow:16px 8px 8px 0px rgba(0,0,0,0.25);
    background:lightyellow;
  }
  .section-item a {
  color:black;
  text-decoration:none;
  }
  .section-icon {
    padding:1rem;
  }
  .section-icon i {
    font-size:20vh;
  }
  .section-item h4 {
    background-color:lightgrey;
    padding:1rem;
    font-size:1.75rem;
  }
  .section-item p {
    padding:1rem;
    font-size:1.15rem;
    line-height:2rem;
  }
  .row {
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content: stretch;
    margin:2vh auto;
  }
  .media {
    flex:0 0 40%;
  }
  .media img {
    display:block;
    width:92%;
    max-width:400px;
    margin:auto;
  }
  .text {
    flex:0 0 60%;
    padding:3vh;
    text-align:center;
  }
  .text h3 {
    font-size:3rem;
    padding:1vh 0;
  }
  .text p {
    font-size:1.5rem;
    line-height:2.25rem;
    padding:2vh 0;
  }
  .row-button {
    background:darkred;
    color:white;
    display:block;
    padding:1.25rem;
    margin:auto;
    text-decoration:none;
    max-width:15vh;
    text-align:center;
    font-size:1.25rem;
    border-radius:8px;
    transition:background-color .5s ease;
  }
  .row-button:hover {
    background-color:rgba(139, 0, 0, 0.5);
    color:darkred;
    box-shadow:3px 11px 10px -1px rgba(100, 100, 100, 0.69);
  }
  
  @media only screen and (max-width:800px) {
    .container {
      background:darkred;
      color:white;
      width:100%;
    }
    .section-container {
      flex-direction:colum;
      justify-content:center;
    }
    .section-item {
      flex-basis:92%;
    }
  }
  
  