@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

 @keyframes grow {
   from{width:0;height:0;}
   to{width:100%;height: 80vh;}
   }

    :root {
      /*Put variables here*/
     --main-color:#FFA69E;
        --accent-1:#12030B;
        --accent-2:#CA6873;
        --accent-3:#f08080;
        --accent-4:#ff85b1;
    }
    * {
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: 'Caveat', cursive;
    }
    body {
      background:var(--main-color);
    }
    header {
      padding:2rem;
      text-align:left;
      font-size:1.5rem;
      display:flex;
    }
    .iconBar {
      flex-basis:50%;
      font-size:2rem;
    }
    i {
      margin:.5vh;
      color:black;
    }
    .headerContact {
      font-size:1.25rem;
      flex-basis:50%;
      text-align:center;
      display:flex;
      align-items:center;
      justify-content:flex-end;
    }
    .headerContact a {
      color:black;
    }
    nav {
      background:var(--accent-1);
      color:white;
      display:flex;
      height:3rem;
      overflow:hidden;
    }
    nav ul {
      list-style-type:none;
      display:inline-block;
    }
    nav li {
      display:inline;
    }
    nav li a {
      display:inline-block;
      padding:1rem 2rem;
      color:white;
      text-decoration:none;
      border-right:1px solid rgba(255, 165, 196, .25);
      transition: background-color .25s ease;
    }
    nav li a:hover {
      background-color:pink;
      color:black;
      padding:2.5vh 4vw;
    }
    nav img {
      display:inline-block;
      height:100%;
      background:rgba(0, 0, 0, .75);
      border-radius:10px;
      margin-right:1rem;
    }
    footer {
      background:black;
      color:white;
      padding:3rem;
      min-height:10vh;
    }
    .container {
      background:var(--accent-2);
      padding:1rem;
      min-height:60vh;
      width:80%;
      margin:auto;
    }
    .cover-photo {
      height:80vh;
      margin:auto;
      background:lightpink;
      background-image:url("../images/coverPhoto1.png");
      background-position:center;
      background-size:cover;
      animation-name:grow;
      animation-duration:1.5s;
    }
    .overlay {
      background-color:rgba(0, 0, 0, .6);
      width:100%;
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .overlay-inner {
      color:white;
      text-align:center;
    }
    .overlay-inner h1 {
      font-size:3rem;
      padding:1rem;
    }
    .overlay-inner p {
      font-size:1.75rem;
      line-height:2.5rem
    }
    .cta-button {
      display:block;
      max-width:350px;
      margin:2vh auto;
      padding:1.5rem;
      border-radius:1rem;
      color:white;
      background:pink;
      font-size:1.5rem;
      text-align:center;
      text-decoration:none;
      transition:background-color .5s ease;
    }
    .cta-button:hover {
      background-color:rgba(226, 77,113 , .7);
    }
    .row {
      width:100%;
      display:flex;
      flex-wrap:nowrap;
      flex-direction:row;
      min-height:30vh;
      margin:2vh 0;
    }
    .row-dark {
      background-color:var(--accent-3);
    }
    .row .media {
      flex-basis:40%;
    }
    .row .text {
      flex-basis:60%;
    }
    .media img {
      display:block;
      width:92%;
      margin:auto;
    }
    .text h2 {
      padding:2vh;
    }
    .text p {
      font-size:1.25rem;
      line-height:1.75rem;
      padding:2vh;
    }
    /*Menu Page*/
    .menu-section-header {
      font-size:2rem;
      padding:2vh;
      border-bottom:1px solid black;
    }
    .menu-container {
      display:flex;
      flex-wrap:wrap;
      flex-direction:row;
      align-items:stretch;
      justify-content:flex-start;
      width:90%;
      margin:2vh auto;
    }
    .menu-item {
      width:30%;
      margin:1rem;
      background:var(--main-color);
      overflow:hidden;
      border-radius:12px;
    }
    .menu-image {
      position:relative;
      width:100%;
      height:30vh;
    }
    .menu-image img {
      display:block;
      height:100%;
    }
    .menu-overlay {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      background-color:rgba(0,0,0,.6);
      color:pink;
      text-align:center;
      font-size:2.25rem;
      overflow:hidden;
      width:100%;
      height:0;
      transition:.5s ease;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .menu-item:hover .menu-overlay {
      height:100%;
    }
    .menu-overlay p {
      width:90%;
    }
    .menu-text h4 {
      font-size:1.75rem;
      padding:.5rem;
    }
    .menu-text p {
      font-size:1.25rem;
      padding:.5rem;
      line-height:1.75rem;
    }
    @media only screen and (max-width:800px) {
      .container {
        background:var(--main-color);
        color:white;
        width:100%;
      }
    }
    
    